@import "bootstrap";

body {
  padding-top: 100px;
}

 .carousel-container  {
    width: 60%;
    margin: 0 auto 0 auto;
  }

.navbar-bottom {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}

.home-page {
  .header {


   }
}

